#Ignored files
cat .gitignore

#Ignore build files
build/

#Ignore docs files
docs/
doc/
Books/
Book/
book/
books/
Doc/
Docs/

#Ignore pycache folders
__pycache__/

#Ignore repos
wjones-git-repo/

#Ignore bin files
bin/

#Ignore sample directories
mod0/
csci473/

#Ignore pdfs
*.[pdf]

#Ignore presentations
pres/
Pres/
Presentations/
presentations/

#Ignore markdowns
*.[md]

#Ignore .zip files
*.[zip]
*.[7zip]

#Ignore Zone identifiers
*.[Identifier]

#Ignore temp files
*~
*.zip

#Ignore .dat and .raw files
*.[dat]
*.[raw]
