#Ignored files
cat .gitignore

#Ignore build files
build/

#Ignore docs files
docs/
doc/
Books/
Book/

#Ignore bin files
bin/

#Ignore sample directories
mod0/

#Ignore pdfs
*.[pdf]

#Ignore markdowns
*.[md]

#Ignore .zip files
*.[zip]
*.[7zip]

#Ignore temp files
*~
