{
    /* 
		File Name: 		CPP template
		Author: 		D. Blair
		Creation Date: 	5/23/2024
	*/
	"Print to console": {
		"prefix": "#cpp",
		"body": [
			"/*",
			"    Name:",
			"    Class:",
			"    Project:",
			"    Last Date:",
			"*/",
			"#include <iostream>",
			"using namespace std;",
			"",
			"/// @brief",
			"/// @param argc the number of arguments passed into main",
			"/// @param argv the list of arguments passed into main",
			"/// @return integer code indicating success or not",
			"int main(int argc, char* argv[])",
			"{",
			"    cout << \"Hello World!\";",
			"    return 0;",
			"}"
		],
		"description": "output header info"
	}
}